*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  margin: 0;
  padding: 0;
}

/* :root{
  --secondary-red: "#f14358",
  --primary-red: "#e3001b" */
/* } */

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  color: red;
}


/* hero  */
#HeroSec{
  padding: 23px;
  background-color: #656263;
  width: 100%;
  background: url('./assets/herobg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.HeroContent{
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  justify-content: center;
  height: 70vh;

}
.mainHeading{
  font-size: 2.3rem;
  text-transform: capitalize;
  text-align: left;
}
.mainHeroSearch{
  /* border: 2px solid red; */
  background-color: #fff;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 35px;
}
.HeroIconSearch{
  margin: 0 11px;
  font-weight: 800;
  font-size: 1.8rem;
}

.searchInput{
  border: none;
  outline: none;
  width: 250px;
  padding-left: 6px;
}

.searchSelect{
  border: none;
  outline: none;
  width: 200px;
}


/* .comapany-by-category-sec{
  border: 2px solid black;

} */

.company-category-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-category-title{
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
}

.company-category-more{
  text-decoration: none;
  font-size: 1rem;
  color: #f14358;
}

.seacrhBtn{
  background-color: #e3001b;
  color: #fff;
  border-radius: 23px;
  padding: 10px 38px;
  margin: 0 7px;
}

.searchTagGroup{
  display: flex;
}

.searchTitle{
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  width: fit-content;
}

/* .searchTagList{
  width: 80%;
  border: 2px solid white;
} */

.searchTag{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  margin: 5px 7px;
  padding: 2px 4px;
  border: 1px solid #fff;
  font-size: 0.9rem;
}

.searchTag:hover{
  background-color: #fff;
  color: #000;
}



.footerContainer{
  background-color: #1a1819;
}

.footer-social-icon {
  background-color: #e3001b;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 7px; */
  border-radius: 25px;
}
.footer-social-icon i{
  color: #fff;
  font-size: 1.6rem;
}


.footer-news-letter{
  display: flex;
  /* border: 2px solid white; */
  margin: 0;
  padding: 0;
  width: 100%;
  
}
.footer-news-letter input{
  border: none;
  border-radius: 23px 0 0 23px ;
  padding: 8px;
  padding-left: 16px;
  outline: none;
}
.footer-news-letter button{
  border: none;
  background-color: #e3001b;
  color: #fff;
  padding: 9px 21px;
  border-radius:  0 19px 19px 0;
}

.section-bg{
  background-color: #f8f8f8;
}


