.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start !important;
    align-items: center;
    width: 450px;
    padding: 10px;
}


.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.context{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
    padding: 10px 10px 10px 10px;
}


.context h3{
  margin: 0;
  width: 100%;
}

.form-control{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.form-control div.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 85%;
}
.username, .password{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    padding-left: 10px;
    border-radius: 5px;
}
.inputs input{
    width: 100%;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    outline: none;
}

.checks{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.submit button{
    width: 90%;
    padding: 0.9rem;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgba(255, 3, 3, 0.766);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}
.link{
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 540px){
    .wrapper{
        width: 100%;
        height: 100%;
    }
    .checks{
        gap: 2rem;
        font-size: smaller;
    }
    .card-container{
        overflow-x: hidden;
    }
    .context{
        margin: 0;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .inputs{
        width: 100%;
    }
    .submit button{
        width: 95%;
    }
}

